/* from https://gitvar(hub.com/yeun/open-color */
:where(html) {
  --hsl-gray-0: 210, 17%, 98%;
  --hsl-gray-1: 210, 17%, 95%;
  --hsl-gray-2: 210, 16%, 93%;
  --hsl-gray-3: 210, 14%, 89%;
  --hsl-gray-4: 210, 14%, 83%;
  --hsl-gray-5: 210, 11%, 71%;
  --hsl-gray-6: 210, 7%, 56%;
  --hsl-gray-7: 210, 9%, 31%;
  --hsl-gray-8: 210, 10%, 23%;
  --hsl-gray-9: 210, 11%, 15%;
  --hsl-red-0: 0, 100%, 98%;
  --hsl-red-1: 0, 100%, 95%;
  --hsl-red-2: 0, 100%, 89%;
  --hsl-red-3: 0, 100%, 83%;
  --hsl-red-4: 0, 100%, 76%;
  --hsl-red-5: 0, 100%, 71%;
  --hsl-red-6: 0, 94%, 65%;
  --hsl-red-7: 0, 86%, 59%;
  --hsl-red-8: 0, 74%, 54%;
  --hsl-red-9: 0, 65%, 48%;
  --hsl-pink-0: 336, 100%, 97%;
  --hsl-pink-1: 336, 100%, 94%;
  --hsl-pink-2: 338.3, 90.6%, 87.5%;
  --hsl-pink-3: 338.9, 89.8%, 80.8%;
  --hsl-pink-4: 338.8, 87.9%, 74.1%;
  --hsl-pink-5: 339.3, 82.2%, 66.9%;
  --hsl-pink-6: 339, 75.8%, 59.4%;
  --hsl-pink-7: 339, 66.5%, 52%;
  --hsl-pink-8: 339, 68%, 45.3%;
  --hsl-pink-9: 339.3, 69.4%, 38.4%;
  --hsl-grape-0: 280, 66.7%, 96.5%;
  --hsl-grape-1: 287.3, 76.7%, 91.6%;
  --hsl-grape-2: 288, 85.7%, 86.3%;
  --hsl-grape-3: 288.5, 85.5%, 78.4%;
  --hsl-grape-4: 288.3, 82.6%, 70.8%;
  --hsl-grape-5: 287.9, 75.1%, 63.7%;
  --hsl-grape-6: 287.9, 66.7%, 57.6%;
  --hsl-grape-7: 288.3, 56.3%, 51.6%;
  --hsl-grape-8: 288.2, 54%, 46.1%;
  --hsl-grape-9: 288, 54.5%, 39.6%;
  --hsl-violet-0: 252, 100%, 97.1%;
  --hsl-violet-1: 256.7, 100%, 92.9%;
  --hsl-violet-2: 255.9, 100%, 87.5%;
  --hsl-violet-3: 255.4, 94.4%, 79%;
  --hsl-violet-4: 255.3, 93%, 72%;
  --hsl-violet-5: 254.9, 90.5%, 66.9%;
  --hsl-violet-6: 255.2, 86.2%, 63.1%;
  --hsl-violet-7: 255, 77.7%, 59.6%;
  --hsl-violet-8: 255, 66.7%, 55.3%;
  --hsl-violet-9: 255.1, 53.4%, 50.4%;
  --hsl-indigo-0: 223.3, 100%, 96.5%;
  --hsl-indigo-1: 225, 100%, 92.9%;
  --hsl-indigo-2: 227.8, 100%, 86.5%;
  --hsl-indigo-3: 228, 100%, 78.4%;
  --hsl-indigo-4: 228.1, 95.8%, 72.2%;
  --hsl-indigo-5: 227.8, 94%, 67.1%;
  --hsl-indigo-6: 227.9, 89.4%, 62.9%;
  --hsl-indigo-7: 228.3, 80.9%, 59%;
  --hsl-indigo-8: 228, 69%, 54.5%;
  --hsl-indigo-9: 229.7, 57.3%, 49.6%;
  --hsl-blue-0: 205, 100%, 95.3%;
  --hsl-blue-1: 205.5, 100%, 90.8%;
  --hsl-blue-2: 206, 100%, 82.4%;
  --hsl-blue-3: 206.5, 95.8%, 72.2%;
  --hsl-blue-4: 206.8, 91.4%, 63.5%;
  --hsl-blue-5: 207.3, 86.3%, 57.1%;
  --hsl-blue-6: 207.9, 79.7%, 51.8%;
  --hsl-blue-7: 208.4, 76.9%, 47.5%;
  --hsl-blue-8: 208.8, 77.2%, 42.9%;
  --hsl-blue-9: 209, 75.4%, 38.2%;
  --hsl-cyan-0: 184.8, 80.6%, 93.9%;
  --hsl-cyan-1: 184.5, 84.1%, 87.6%;
  --hsl-cyan-2: 186.1, 77.4%, 77.5%;
  --hsl-cyan-3: 186.9, 73.9%, 65.5%;
  --hsl-cyan-4: 186.8, 69%, 54.5%;
  --hsl-cyan-5: 188, 71.8%, 47.3%;
  --hsl-cyan-6: 187.4, 80.2%, 41.6%;
  --hsl-cyan-7: 188, 83.1%, 37.1%;
  --hsl-cyan-8: 188.5, 85.5%, 32.4%;
  --hsl-cyan-9: 189.3, 84.7%, 28.2%;
  --hsl-teal-0: 160.9, 78.6%, 94.5%;
  --hsl-teal-1: 160.4, 84.6%, 87.3%;
  --hsl-teal-2: 162.4, 78%, 76.9%;
  --hsl-teal-3: 161.7, 72.4%, 64.5%;
  --hsl-teal-4: 162.1, 67.9%, 53.5%;
  --hsl-teal-5: 162.2, 72.5%, 45.7%;
  --hsl-teal-6: 161.9, 82.2%, 39.6%;
  --hsl-teal-7: 162.1, 86.5%, 34.9%;
  --hsl-teal-8: 161.6, 88.4%, 30.4%;
  --hsl-teal-9: 161.8, 88.1%, 26.5%;
  --hsl-green-0: 131, 67%, 95%;
  --hsl-green-1: 128, 76%, 90%;
  --hsl-green-2: 128.4, 71.1%, 82.4%;
  --hsl-green-3: 129, 67.9%, 73.1%;
  --hsl-green-4: 130, 61.3%, 63.5%;
  --hsl-green-5: 130, 56.8%, 56.5%;
  --hsl-green-6: 130.8, 50.4%, 50.2%;
  --hsl-green-7: 130.7, 52.8%, 45.7%;
  --hsl-green-8: 131.4, 54.1%, 40.2%;
  --hsl-green-9: 132, 52.5%, 35.5%;
  --hsl-lime-0: 79.2, 80.6%, 93.9%;
  --hsl-lime-1: 80.4, 83.3%, 88.2%;
  --hsl-lime-2: 81, 80.6%, 79.8%;
  --hsl-lime-3: 81.9, 74.7%, 69%;
  --hsl-lime-4: 82.9, 73.1%, 59.2%;
  --hsl-lime-5: 83.9, 68.7%, 51.2%;
  --hsl-lime-6: 84.9, 74%, 45.3%;
  --hsl-lime-7: 85.2, 78.6%, 40.4%;
  --hsl-lime-8: 85.9, 83.6%, 35.9%;
  --hsl-lime-9: 84.9, 83.9%, 31.6%;
  --hsl-yellow-0: 50, 100%, 92.9%;
  --hsl-yellow-1: 48.8, 100%, 87.5%;
  --hsl-yellow-2: 48.8, 100%, 80%;
  --hsl-yellow-3: 47.8, 100%, 70%;
  --hsl-yellow-4: 46.8, 100%, 61.6%;
  --hsl-yellow-5: 45.2, 97.4%, 54.3%;
  --hsl-yellow-6: 41.9, 96.1%, 50%;
  --hsl-yellow-7: 38.9, 100%, 48%;
  --hsl-yellow-8: 35, 100%, 47.1%;
  --hsl-yellow-9: 31, 100%, 45.1%;
  --hsl-orange-0: 33.6, 100%, 95.1%;
  --hsl-orange-1: 32.9, 100%, 90%;
  --hsl-orange-2: 33.1, 100%, 82.9%;
  --hsl-orange-3: 32, 100%, 73.5%;
  --hsl-orange-4: 31, 100%, 65.1%;
  --hsl-orange-5: 29.2, 100%, 58.4%;
  --hsl-orange-6: 27.3, 98.3%, 53.5%;
  --hsl-orange-7: 24, 94.5%, 49.8%;
  --hsl-orange-8: 21, 90.2%, 47.8%;
  --hsl-orange-9: 16.9, 87.1%, 45.5%;

  --gray-0: hsl(var(--hsl-gray-0));
  --gray-1: hsl(var(--hsl-gray-1));
  --gray-2: hsl(var(--hsl-gray-2));
  --gray-3: hsl(var(--hsl-gray-3));
  --gray-4: hsl(var(--hsl-gray-4));
  --gray-5: hsl(var(--hsl-gray-5));
  --gray-6: hsl(var(--hsl-gray-6));
  --gray-7: hsl(var(--hsl-gray-7));
  --gray-8: hsl(var(--hsl-gray-8));
  --gray-9: hsl(var(--hsl-gray-9));
  --red-0: hsl(var(--hsl-red-0));
  --red-1: hsl(var(--hsl-red-1));
  --red-2: hsl(var(--hsl-red-2));
  --red-3: hsl(var(--hsl-red-3));
  --red-4: hsl(var(--hsl-red-4));
  --red-5: hsl(var(--hsl-red-5));
  --red-6: hsl(var(--hsl-red-6));
  --red-7: hsl(var(--hsl-red-7));
  --red-8: hsl(var(--hsl-red-8));
  --red-9: hsl(var(--hsl-red-9));
  --pink-0: hsl(var(--hsl-pink-0));
  --pink-1: hsl(var(--hsl-pink-1));
  --pink-2: hsl(var(--hsl-pink-2));
  --pink-3: hsl(var(--hsl-pink-3));
  --pink-4: hsl(var(--hsl-pink-4));
  --pink-5: hsl(var(--hsl-pink-5));
  --pink-6: hsl(var(--hsl-pink-6));
  --pink-7: hsl(var(--hsl-pink-7));
  --pink-8: hsl(var(--hsl-pink-8));
  --pink-9: hsl(var(--hsl-pink-9));
  --grape-0: hsl(var(--hsl-grape-0));
  --grape-1: hsl(var(--hsl-grape-1));
  --grape-2: hsl(var(--hsl-grape-2));
  --grape-3: hsl(var(--hsl-grape-3));
  --grape-4: hsl(var(--hsl-grape-4));
  --grape-5: hsl(var(--hsl-grape-5));
  --grape-6: hsl(var(--hsl-grape-6));
  --grape-7: hsl(var(--hsl-grape-7));
  --grape-8: hsl(var(--hsl-grape-8));
  --grape-9: hsl(var(--hsl-grape-9));
  --violet-0: hsl(var(--hsl-violet-0));
  --violet-1: hsl(var(--hsl-violet-1));
  --violet-2: hsl(var(--hsl-violet-2));
  --violet-3: hsl(var(--hsl-violet-3));
  --violet-4: hsl(var(--hsl-violet-4));
  --violet-5: hsl(var(--hsl-violet-5));
  --violet-6: hsl(var(--hsl-violet-6));
  --violet-7: hsl(var(--hsl-violet-7));
  --violet-8: hsl(var(--hsl-violet-8));
  --violet-9: hsl(var(--hsl-violet-9));
  --indigo-0: hsl(var(--hsl-indigo-0));
  --indigo-1: hsl(var(--hsl-indigo-1));
  --indigo-2: hsl(var(--hsl-indigo-2));
  --indigo-3: hsl(var(--hsl-indigo-3));
  --indigo-4: hsl(var(--hsl-indigo-4));
  --indigo-5: hsl(var(--hsl-indigo-5));
  --indigo-6: hsl(var(--hsl-indigo-6));
  --indigo-7: hsl(var(--hsl-indigo-7));
  --indigo-8: hsl(var(--hsl-indigo-8));
  --indigo-9: hsl(var(--hsl-indigo-9));
  --blue-0: hsl(var(--hsl-blue-0));
  --blue-1: hsl(var(--hsl-blue-1));
  --blue-2: hsl(var(--hsl-blue-2));
  --blue-3: hsl(var(--hsl-blue-3));
  --blue-4: hsl(var(--hsl-blue-4));
  --blue-5: hsl(var(--hsl-blue-5));
  --blue-6: hsl(var(--hsl-blue-6));
  --blue-7: hsl(var(--hsl-blue-7));
  --blue-8: hsl(var(--hsl-blue-8));
  --blue-9: hsl(var(--hsl-blue-9));
  --cyan-0: hsl(var(--hsl-cyan-0));
  --cyan-1: hsl(var(--hsl-cyan-1));
  --cyan-2: hsl(var(--hsl-cyan-2));
  --cyan-3: hsl(var(--hsl-cyan-3));
  --cyan-4: hsl(var(--hsl-cyan-4));
  --cyan-5: hsl(var(--hsl-cyan-5));
  --cyan-6: hsl(var(--hsl-cyan-6));
  --cyan-7: hsl(var(--hsl-cyan-7));
  --cyan-8: hsl(var(--hsl-cyan-8));
  --cyan-9: hsl(var(--hsl-cyan-9));
  --teal-0: hsl(var(--hsl-teal-0));
  --teal-1: hsl(var(--hsl-teal-1));
  --teal-2: hsl(var(--hsl-teal-2));
  --teal-3: hsl(var(--hsl-teal-3));
  --teal-4: hsl(var(--hsl-teal-4));
  --teal-5: hsl(var(--hsl-teal-5));
  --teal-6: hsl(var(--hsl-teal-6));
  --teal-7: hsl(var(--hsl-teal-7));
  --teal-8: hsl(var(--hsl-teal-8));
  --teal-9: hsl(var(--hsl-teal-9));
  --green-0: hsl(var(--hsl-green-0));
  --green-1: hsl(var(--hsl-green-1));
  --green-2: hsl(var(--hsl-green-2));
  --green-3: hsl(var(--hsl-green-3));
  --green-4: hsl(var(--hsl-green-4));
  --green-5: hsl(var(--hsl-green-5));
  --green-6: hsl(var(--hsl-green-6));
  --green-7: hsl(var(--hsl-green-7));
  --green-8: hsl(var(--hsl-green-8));
  --green-9: hsl(var(--hsl-green-9));
  --lime-0: hsl(var(--hsl-lime-0));
  --lime-1: hsl(var(--hsl-lime-1));
  --lime-2: hsl(var(--hsl-lime-2));
  --lime-3: hsl(var(--hsl-lime-3));
  --lime-4: hsl(var(--hsl-lime-4));
  --lime-5: hsl(var(--hsl-lime-5));
  --lime-6: hsl(var(--hsl-lime-6));
  --lime-7: hsl(var(--hsl-lime-7));
  --lime-8: hsl(var(--hsl-lime-8));
  --lime-9: hsl(var(--hsl-lime-9));
  --yellow-0: hsl(var(--hsl-yellow-0));
  --yellow-1: hsl(var(--hsl-yellow-1));
  --yellow-2: hsl(var(--hsl-yellow-2));
  --yellow-3: hsl(var(--hsl-yellow-3));
  --yellow-4: hsl(var(--hsl-yellow-4));
  --yellow-5: hsl(var(--hsl-yellow-5));
  --yellow-6: hsl(var(--hsl-yellow-6));
  --yellow-7: hsl(var(--hsl-yellow-7));
  --yellow-8: hsl(var(--hsl-yellow-8));
  --yellow-9: hsl(var(--hsl-yellow-9));
  --orange-0: hsl(var(--hsl-orange-0));
  --orange-1: hsl(var(--hsl-orange-1));
  --orange-2: hsl(var(--hsl-orange-2));
  --orange-3: hsl(var(--hsl-orange-3));
  --orange-4: hsl(var(--hsl-orange-4));
  --orange-5: hsl(var(--hsl-orange-5));
  --orange-6: hsl(var(--hsl-orange-6));
  --orange-7: hsl(var(--hsl-orange-7));
  --orange-8: hsl(var(--hsl-orange-8));
  --orange-9: hsl(var(--hsl-orange-9));
}
